<h1>Viewing Party</h1>
<% if current_user %>
  <%= button_to 'Log Out', '/logout', method: :delete %>
<% else %>
  <%= button_to 'Create a New User', new_user_path, method: :get %>
  <%= button_to 'Log In', login_path, method: :get %>
<% end %>


